.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
/*  display: flex;
  justify-content: space-between;
  position: relative;
*/
  padding: 0 50px 5px;
  height: 293px;
  align-items: center;
  background-color: cyan;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 20px; /* need correct */
  list-style: circle;
}

.header__logo {
  display: block;
/*  object-fit: cover;
  position: absolute;
  top: 92px;
  left: 478px;*/
}

.header__address{

}

.address { /* divide classes */
  max-width: 240px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: inherit; /* working */
  line-height: 24.3px; /* working */
}

.address-item {
  text-decoration: none;
  border-bottom: 1px solid black;
}

/*-----section-----*/
.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 757px;
  padding: 165px 50px 50px;
  color: white;
  position: relative;
  text-transform: uppercase;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15em;
}

.aligned-text {
  display: block;
  padding-bottom: 20px;
}
.aligned-text_left {
  justify-self: start;
}

.aligned-text_center {
  justify-self: center;
}

.aligned-text_right {
  justify-self: end;
}

.letter-spacing-extended{
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  line-height: 28px;
  word-spacing: 18.535px; /* need correct */
}

.bet-button {
  width: 256px;
  height: 51px;
  background-color: transparent;
  border: 1px solid white;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

/*-----section-----*/
.lots {
  width: 1052px;
  height: 723px;
  margin: 180px auto 0;
  background-color: rgba(127, 127, 127, 0.1);
}

.lots__heading {
  display: block;
  width: 121;
  height: 47;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  color: black;
  padding-left: 40px;
  padding-bottom: 27px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  position: relative;
  width: 334px;
  height: 596px;
  background-color: rgba(0, 0, 0, 0.6);
}

.photo {
  background-size: cover;
  background-position: center;


  position: absolute;
  z-index: -1;
  object-fit: cover;
  top: 0;
  left: 0;
}

.card_type_film
.card_type_book
.card_type_picture

.card-link {
  height: 100%;

  font: normal 700 22px/120% "Raleway", sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
}

.card {
  font: normal 400 20px/120% "Raleway", sans-serif;
  color: white;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 0 40px;
}

.more {
/* font: [style] [variant] [weight] [size][/line-height] [family] */
  font: normal 400 20px/100% "Raleway", sans-serif;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.about {
  width: 1052px;
  height: 595px;
  margin: 180px auto 180px;
  padding: 35px 0 0 47px;
  background-color: rgba(0, 0, 0, 0.6);
}

.logo_about {
  display: block;
  top: 35px;
  left: 47px;
  width: 240px;
  height: 240px;
/*  border: 6px solid #000000; ребус нужно решать*/
  margin-bottom: 4px; /* margin: 92px 474px 96x 478px;*/
}
/* Об аукционе
font-weight: 700;
font-style: Bold;
font-size: 40px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase; */

/* Здесь вы не встретите очередное пафосное собрание невероятно дорогого антиквариата. Наши лоты вообще не должны были попасть ни на один аукцион. Потому что кому нужен дневник девочки-подростка или картина, которую может нарисовать даже ребёнок? Кому нужны все эти странные вещи, созданные любителями?
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;*/

/* Слишком сложные или, наоборот, слишком простые. Опережающие своё время. В пух и прах растерзанные критиками. Непринятые и непонятые. Когда-то они казались просто неудачными. Но, несмотря
на критику, кажущуюся простоту или сложность, сейчас без этих лотов невозможно представить современную культуру. Когда в эти вещи не верил никто, продолжали верить их создатели. И сейчас эти лоты стали культовыми. 
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%; */


.footer {
  width: 1100px;
  height: 180px;
  margin: 0 auto;
/*  top: 2848px; */
  background-color: pink;
}
 